{% extends "base.html" %} 
{% load static %}

{% block title %} 
Patrick's Blog 
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/post.css" %}" />
  <link rel="stylesheet" href="{% static "blog/index.css" %}" />
{% endblock %}

{% block content %}
{% comment %} <section id="welcome">
  <header>
    <img src="{% static "blog/images/max.png" %}" alt="Max - The Author Of This Blog" />
    <h2>Blog</h2>
  </header>
  <p>Hi, my name is Patrick and I might blog about History.</p>
</section> {% endcomment %}

<section id="latest-posts">
  <h2>Recent Posts</h2>

  <ul>
    {% for post in posts %}
        {% include "blog/includes/post.html" %}
    {% endfor %}
  </ul>
</section>

<section id="about">
  <h2>Banbury</h2>
  <p>
A blog about historic Banbury and the Cotswolds.
  </p>
</section>
{% endblock %}
