{% extends 'base.html' %}
{% load static %}

{% block title %}Feedback{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static "feedback/styles.css" %}">
<form action="/" method="POST">
    {% csrf_token %}
    <div class="form-control {% if form.user_name.errors %}errors{% endif %}">
        {{ form.user_name.label_tag }}
        {{ form.user_name }}
        {{ form.user_name.errors }}
    </div>
    <div class="form-control {% if form.review_text.errors %}errors{% endif %}">
        {{ form.review_text.label_tag }}
        {{ form.review_text }}
        {{ form.review_text.errors }}
    </div>
    <button type="submit">Send</button>
</form>
{% endblock %}
